#top_t {
  width: 100%;
  height: 40px;
  background: #F4F4F4; }
  #top_t div {
    width: 1190px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5; }
    #top_t div .top_l {
      width: 375px;
      position: relative;
      top: 0;
      right: 0;
      float: left; }
      #top_t div .top_l span {
        width: 126px;
        height: 40px;
        font-size: 16px;
        color: #333333;
        line-height: 40px; }
        #top_t div .top_l span .box1 {
          width: 260px;
          height: 304px;
          display: none;
          position: absolute;
          top: 41px;
          left: 70px;
          z-index: 999; }
        #top_t div .top_l span .box2 {
          width: 260px;
          height: 304px;
          display: none;
          position: absolute;
          top: 40px;
          left: 195px;
          z-index: 999; }
      #top_t div .top_l .s1:hover .box1 {
        display: block; }
      #top_t div .top_l .s2:hover .box2 {
        display: block; }
      #top_t div .top_l span:hover a {
        color: #008303;
        text-decoration: underline; }
    #top_t div .top_r {
      width: 1190px;
      height: 40px; }
      #top_t div .top_r li {
        float: right;
        font-size: 12px;
        width: 100px;
        line-height: 40px;
        text-align: center; }
        #top_t div .top_r li a {
          color: #333333; }
      #top_t div .top_r li:hover a {
        color: #0CB95F;
        text-decoration: underline; }

#logo {
  width: 100%;
  height: 140px; }
  #logo .logo {
    height: 140px;
    width: 1190px;
    margin: 0 auto;
    clear: both; }
    #logo .logo .logo_l {
      width: 230px;
      height: 140px;
      float: left; }
    #logo .logo .logo_z {
      width: 546px;
      height: 140px;
      float: left;
      margin-left: 112px; }
      #logo .logo .logo_z div {
        width: 544px;
        height: 36px;
        padding-top: 39px; }
        #logo .logo .logo_z div .inp1 {
          width: 81px;
          height: 36px;
          border-top: 2px solid #0CB95F;
          border-left: 2px solid #0CB95F;
          border-bottom: 2px solid #0CB95F; }
        #logo .logo .logo_z div .inp2 {
          width: 370px;
          height: 32px;
          border-top: 2px solid #0CB95F;
          border-bottom: 2px solid #0CB95F; }
        #logo .logo .logo_z div .inp3 {
          width: 92px;
          height: 36px;
          background: #0CB95F;
          color: #fff; }
        #logo .logo .logo_z div span {
          display: inline-block;
          font-size: 14px;
          line-height: 40px;
          text-align: center;
          color: #CCCCCC; }
          #logo .logo .logo_z div span:hover {
            color: #0CB95F;
            text-decoration: underline; }
    #logo .logo .logo_r {
      float: right;
      width: 183px;
      height: 140px; }

#bar {
  height: 50px;
  width: 100%; }
  #bar .bar_l {
    height: 50px;
    width: 1190px;
    margin: 0 auto;
    position: relative; }
    #bar .bar_l > ul > li {
      float: left;
      font-size: 15px;
      width: 144px;
      height: 50px;
      line-height: 50px;
      text-align: center; }
      #bar .bar_l > ul > li a {
        color: #333333; }
      #bar .bar_l > ul > li:hover a {
        color: #0CB95F;
        text-decoration: underline; }
    #bar .bar_l .bar_d {
      width: 230px;
      height: 390px;
      position: absolute;
      top: 50px;
      left: 0; }
      #bar .bar_l .bar_d ul {
        position: relative; }
      #bar .bar_l .bar_d li {
        background: #F8FBFE;
        width: 230px;
        height: 65px;
        border-bottom: 1px dashed #E1E4E6; }
        #bar .bar_l .bar_d li:hover .dao {
          display: block; }
        #bar .bar_l .bar_d li img {
          float: left; }
        #bar .bar_l .bar_d li a {
          display: inline-block;
          font-size: 12px;
          height: 38px;
          width: 178px;
          float: left;
          line-height: 38px;
          color: #414446; }
          #bar .bar_l .bar_d li a:hover {
            color: #0CB95F;
            text-decoration: underline; }
        #bar .bar_l .bar_d li span {
          font-size: 12px;
          color: #9C9FA2; }
          #bar .bar_l .bar_d li span:hover {
            color: #0CB95F;
            text-decoration: underline; }
        #bar .bar_l .bar_d li .dao {
          background: #F4F4F4;
          width: 778px;
          height: 480px;
          border-top: 1px solid #E5E5E5;
          border-bottom: 1px solid #E5E5E5;
          border-right: 1px solid #E5E5E5;
          position: absolute;
          top: 0px;
          left: 229px;
          display: none;
          z-index: 999; }
          #bar .bar_l .bar_d li .dao .box8 {
            width: 518px;
            height: 480px;
            float: left; }
            #bar .bar_l .bar_d li .dao .box8 .p1 {
              width: 78px;
              height: 20px;
              float: right;
              background: #CCCCCC;
              color: #FFFFFF;
              padding-right: 20px;
              background: url(../images/jiantou.png) no-repeat right 0; }
            #bar .bar_l .bar_d li .dao .box8 > div {
              height: 64px;
              width: 518px;
              border-bottom: 1px dashed #E1E4E6; }
          #bar .bar_l .bar_d li .dao .box9 {
            height: 480px;
            width: 183px;
            float: right; }
            #bar .bar_l .bar_d li .dao .box9 .box_t {
              width: 167px;
              height: 88px;
              margin-top: 15px; }
            #bar .bar_l .bar_d li .dao .box9 .box_z {
              width: 167px;
              height: 122px;
              margin-top: 9px; }
            #bar .bar_l .bar_d li .dao .box9 .box_b {
              margin-top: 9px;
              width: 167px;
              height: 181px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA; }
              #bar .bar_l .bar_d li .dao .box9 .box_b h3 {
                border-top: 1px dashed #EAEAEA;
                border-bottom: 1px dashed #EAEAEA;
                display: block;
                height: 30px;
                width: 153px;
                font-size: 13px;
                line-height: 30px;
                color: #666666;
                padding-left: 14px; }
              #bar .bar_l .bar_d li .dao .box9 .box_b a {
                display: block;
                font-size: 12px;
                line-height: 28px;
                height: 28px;
                width: 145px;
                color: #666666;
                margin-left: 14px;
                padding-left: 13px;
                background: url(../images/diandian.png) no-repeat 0 11px; }
                #bar .bar_l .bar_d li .dao .box9 .box_b a:hover {
                  color: #0CB95F;
                  text-decoration: underline; }

#advertising {
  height: 390px;
  width: 100%; }
  #advertising .adv {
    width: 1190px;
    height: 390px;
    margin: 0 auto; }
    #advertising .adv #adv_l {
      height: 390px;
      width: 780px;
      margin-left: 230px; }
      #advertising .adv #adv_l #imglist {
        overflow: hidden;
        height: 390px;
        width: 780px;
        position: relative; }
        #advertising .adv #adv_l #imglist li {
          height: 390px;
          width: 780px;
          position: absolute;
          top: 0;
          right: 0; }
          #advertising .adv #adv_l #imglist li > img {
            height: 390px;
            width: 780px;
            display: block; }
      #advertising .adv #adv_l #light {
        width: 780px;
        height: 20px;
        position: absolute;
        right: 305px;
        bottom: 180px;
        text-align: center; }
        #advertising .adv #adv_l #light span {
          display: inline-block;
          width: 150px;
          height: 20px;
          background: #d8d8d8;
          font-size: 14px;
          text-align: center;
          line-height: 20px;
          cursor: pointer; }
        #advertising .adv #adv_l #light .active {
          background: orangered; }
      #advertising .adv #adv_l #posibtn {
        width: 780px;
        height: 50px;
        position: absolute;
        right: 300px;
        top: 50%;
        margin-top: -25px; }
        #advertising .adv #adv_l #posibtn > p {
          width: 29px;
          height: 50px;
          background: #B4CCDF;
          cursor: pointer;
          position: absolute;
          top: 0;
          font-size: 24px;
          color: #fff;
          text-align: center;
          line-height: 50px; }
          #advertising .adv #adv_l #posibtn > p::selection {
            background: transparent; }
        #advertising .adv #adv_l #posibtn #prev {
          left: 10px; }
        #advertising .adv #adv_l #posibtn #next {
          right: 10px; }
    #advertising .adv .adv_r {
      width: 180px;
      height: 390px;
      float: right;
      position: absolute;
      right: 130px;
      top: 231px; }
      #advertising .adv .adv_r img {
        display: block;
        width: 180px;
        height: 390px; }

#time {
  height: 57px;
  width: 100%; }
  #time .time {
    height: 57px;
    width: 1190px;
    margin: 0 auto; }
    #time .time h3 {
      height: 57px;
      font-size: 19px;
      color: #333333;
      line-height: 57px;
      padding-left: 56px;
      background: url(../images/time.png) no-repeat 0 16px; }

#goods {
  height: 276px;
  width: 100%; }
  #goods .goods {
    height: 276px;
    width: 1190px;
    margin: 0 auto;
    border: 1px  solid #E4E4E4; }
    #goods .goods li {
      float: left;
      height: 276px;
      width: 238px; }
      #goods .goods li p {
        font-size: 12px;
        width: 220px;
        height: 38px;
        line-height: 38px;
        padding-left: 18px; }
      #goods .goods li .s1 {
        margin-left: 18px;
        font-size: 12px;
        color: red; }
      #goods .goods li .s2 {
        margin-left: 18px;
        font-size: 9px;
        color: #999999; }

#data, #data2 {
  height: 614px;
  width: 100%; }
  #data .data, #data2 .data {
    height: 614px;
    width: 1188px;
    border: 1px  solid #E4E4E4;
    margin: 0 auto;
    margin-top: 29px; }
    #data .data .data_t, #data2 .data .data_t {
      height: 37px;
      width: 1188px; }
      #data .data .data_t h2, #data2 .data .data_t h2 {
        float: left;
        padding-left: 66px;
        height: 37px;
        width: 700px;
        font-size: 24px;
        color: #333333;
        background: url(../images/f1.png) no-repeat 0 4px; }
      #data .data .data_t ul, #data2 .data .data_t ul {
        padding-top: 12px; }
        #data .data .data_t ul li, #data2 .data .data_t ul li {
          float: left;
          font-size: 12px;
          width: 84px;
          background: url(../images/xian.png) no-repeat right 2px;
          text-align: center; }
        #data .data .data_t ul .l1, #data2 .data .data_t ul .l1 {
          background: #0CB95F; }
    #data .data .data_l, #data2 .data .data_l {
      width: 300px;
      height: 577px;
      float: left;
      background: url(../images/lpt.png) no-repeat 0 0; }
    #data .data .data_r, #data2 .data .data_r {
      width: 888px;
      height: 577px;
      float: left;
      display: none; }
      #data .data .data_r li, #data2 .data .data_r li {
        width: 221px;
        height: 288px;
        border-right: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
        float: left; }
        #data .data .data_r li a, #data2 .data .data_r li a {
          color: #333333;
          line-height: 26px;
          padding-left: 18px;
          font-size: 12px; }
        #data .data .data_r li .p1, #data2 .data .data_r li .p1 {
          font-size: 12px;
          color: #999999;
          line-height: 26px;
          padding-left: 18px; }
        #data .data .data_r li .p2, #data2 .data .data_r li .p2 {
          font-size: 12px;
          color: red;
          line-height: 26px;
          padding-left: 18px; }

#load {
  height: 75px;
  width: 100%; }
  #load .load {
    height: 75px;
    width: 1189px;
    margin: 0 auto;
    position: relative; }
    #load .load h1 {
      position: absolute;
      left: 50%;
      top: 6px; }

#apply {
  height: 614px;
  width: 100%; }
  #apply .applyl {
    height: 614px;
    width: 1189px;
    margin: 0 auto; }
    #apply .applyl li {
      height: 300px;
      width: 229px;
      border: 1px solid #E5E5E5;
      margin: 3px;
      float: left; }
      #apply .applyl li p {
        width: 228px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        text-align: center; }
        #apply .applyl li p:hover {
          color: #0CB95F;
          text-decoration: underline; }
      #apply .applyl li span {
        display: block;
        color: red;
        font-size: 12px;
        width: 228px;
        text-align: center; }

#column {
  height: 112px;
  width: 100%;
  margin-top: 50px; }
  #column .column {
    height: 112px;
    width: 1188px;
    margin: 0 auto; }

#read {
  height: 276px;
  width: 100%;
  margin-top: 10px; }
  #read .read {
    height: 276px;
    width: 1188px;
    margin: 0 auto; }
    #read .read .read_l {
      margin-right: 20px;
      border: 1px solid #E5E5E5;
      height: 276px;
      width: 380px;
      float: left; }
      #read .read .read_l .read_t {
        width: 380px;
        height: 40px;
        border-bottom: 1px solid #E5E5E5;
        background: #F4F4F4; }
        #read .read .read_l .read_t h2 {
          width: 360px;
          font-size: 12px;
          line-height: 40px;
          padding-left: 20px;
          color: #666666; }
          #read .read .read_l .read_t h2 a {
            color: #999999; }
            #read .read .read_l .read_t h2 a:hover {
              text-decoration: underline; }
      #read .read .read_l .read_a {
        width: 359px;
        height: 66px;
        margin-top: 25px; }
        #read .read .read_l .read_a a {
          font-size: 12px;
          color: #6C3333; }
          #read .read .read_l .read_a a:hover {
            color: #0CB95F;
            text-decoration: underline; }
      #read .read .read_l .read_b {
        width: 253px;
        height: 123px;
        margin-top: 19px; }
        #read .read .read_l .read_b a {
          padding-left: 17px;
          font-size: 12px;
          color: #6C3333;
          line-height: 28px; }
          #read .read .read_l .read_b a:hover {
            color: #0CB95F;
            text-decoration: underline; }
    #read .read .read_r {
      border: 1px solid #E5E5E5;
      height: 276px;
      width: 380px;
      background: url(../images/rg.png) no-repeat 0 0;
      float: left; }

#blogroll {
  width: 100%; }
  #blogroll .blogroll {
    width: 1188px;
    margin: 0 auto; }
    #blogroll .blogroll .hot {
      width: 1185px;
      height: 144px;
      border-left: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5; }
      #blogroll .blogroll .hot span {
        display: inline-block;
        width: 127px;
        padding-left: 30px;
        height: 35px;
        color: #999999;
        line-height: 34px; }
        #blogroll .blogroll .hot span:hover {
          color: #0CB95F;
          text-decoration: underline; }
    #blogroll .blogroll .links {
      display: none;
      width: 1185px;
      height: 300px;
      border-left: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5;
      background: #fff; }
      #blogroll .blogroll .links span {
        padding-left: 30px;
        width: 127px;
        display: inline-block;
        height: 35px;
        color: #999999;
        line-height: 34px; }
        #blogroll .blogroll .links span:hover {
          color: #0CB95F;
          text-decoration: underline; }
    #blogroll .blogroll ul {
      display: block;
      width: 1188px;
      height: 40px;
      background: #F4F4F4; }
      #blogroll .blogroll ul li {
        display: block;
        height: 38px;
        width: 137px;
        line-height: 40px;
        float: left;
        font-size: 12px;
        color: #333333;
        text-align: center; }
      #blogroll .blogroll ul .lf {
        background: #FFFFFF;
        border-left: 1px solid #E5E5E5; }

#ending {
  height: 175px;
  width: 100%;
  background: #F4F4F4; }
  #ending .ending {
    height: 175px;
    width: 1188px;
    margin: 0 auto; }
    #ending .ending div {
      width: 70px;
      height: 123px;
      padding-top: 12px;
      padding-right: 76px;
      float: left; }
      #ending .ending div li {
        width: 70px;
        color: #888888;
        line-height: 24px;
        text-align: center;
        font-size: 12px; }
        #ending .ending div li:hover {
          color: #0CB95F;
          text-decoration: underline; }

#over {
  height: 293px;
  width: 100%;
  background: #444A50; }
  #over .over {
    width: 1188px;
    height: 293px;
    margin: 0 auto; }
    #over .over span {
      padding-top: 20px;
      display: inline-block;
      width: 76px;
      height: 30px;
      text-align: center;
      color: #DEE5EA;
      font-size: 12px;
      background: url(../images/aaa.png) no-repeat right 24px;
      cursor: pointer; }
      #over .over span:hover {
        text-decoration: underline; }
    #over .over p {
      display: block;
      width: 1188px;
      height: 34px;
      font-size: 12px;
      color: #959AA0;
      padding-top: 21px; }
      #over .over p a {
        color: #959AA0; }
        #over .over p a:hover {
          text-decoration: underline; }
    #over .over i {
      width: 1188px;
      height: 41px; }

/*# sourceMappingURL=zhuye.css.map */
